# OSX Finder's settings.
.DS_Store

# Node.js modules.
node_modules/

# NPM's lockfile.
package-lock.json

# Log files.
*.log
*.log.*

# Generated sources & type definitions.
src/*.js
dist/
test/*.js
types/
